{% extends 'admin/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin_account_overview.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/remodal_user.js') }}"></script>
{% endblock %}

{% block body %}
    {{ include('remodals/message_remodal.html.twig') }}
    {{ include('remodals/delete_remodal.html.twig') }}

    <h2 class="sectionHeadline">
        {{ header }}
    </h2>

    <div id="table">
        {% if table is defined and table == 'registered_users' %}
            {{ include('account/tables/registered_users_table.html.twig') }}
        {% elseif table is defined and table == 'user_comments' %}
            {{ include('account/tables/user_comments_table.html.twig') }}
        {% endif %}
    </div>
{% endblock %}