{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    | Registration
{% endblock %}

{% block stylesheets %} {# TODO check jestli jsou zde potreba #}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/topBar.css') }}">
{% endblock %}

{% block navbar_left %}
    <a href="{{ path('main') }}" title="Zpět">
        <img src="{{ asset('svg/arrow_left.svg') }}" style="margin-bottom: -8px" alt="arrow-left">
    </a>
{% endblock %}

{% block navbar_right %}{% endblock %}

{% block body %}
    {{ include('remodals/message_remodal.html.twig') }}
    {{ form_start(registration_form) }}
    {{ form_widget(registration_form) }}
        <input type="submit" value="Registrovat se">
    {{ form_end(registration_form) }}
{% endblock %}
