{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
    </style>
{% endblock %}

{% block title %}
    {{ parent() }}
    | Registration
{% endblock %}

{% block navbar_left %}
    <a href="{{ path('main') }}" title="Zpět">
        <img src="{{ asset('svg/arrow_left.svg') }}" style="margin-bottom: -8px">
    </a>
{% endblock %}

{% block navbar_right %}{% endblock %}

{% block body %}
    {{ form_start(registration_form) }}
    {{ form_widget(registration_form) }}
        <input type="submit" value="Registrovat se">
    {{ form_end(registration_form) }}
{% endblock %}
