{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/topBar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main_admin.css') }}">
    {% if admin_id is defined and admin_id > 0 %} {# Better remodal CSS #}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/remodal_default_user.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/remodal_user.css') }}">
    {% else %} {# Remodal CSS only for login form (to admin section) #}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/remodal_default_admin.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/remodal_admin.css') }}">
    {% endif %}
{% endblock %}

{% block navbar %}
    <div id="navbar">
        <ul>
            {% if admin_id is defined and admin_id > 0 %} {# Admin is logged in #}
                {# Create article #}
                <li>
                    <a href="{{ path('article_create') }}" title="Vytvořit článek">
                        <img src="{{ asset('svg/pencil.svg') }}" style="padding-bottom: 5px;padding-top: 3px;width: 95%; height: 78px" class="zoom-in" alt="Menu-icon-pencil">
                    </a>
                </li>
                {# Manage user accounts #}
                {% if back_to_home_icon is defined and back_to_home_icon == 'true' %}
                    <li>
                        <a href="{{ path('admin') }}" title="Přehled všech článků">
                            <img src="{{ asset('svg/home.svg') }}" class="zoom-in" alt="Menu-icon-home" style="margin-bottom: 6px">
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('account_overview') }}" title="Spravovat uživatelské účty">
                            <img src="{{ asset('svg/users.svg') }}" class="zoom-in" alt="Menu-icon-users">
                        </a>
                    </li>
                {% endif %}
            {% else %} {# Admin is NOT logged #}
                {# Create article #}
                <li>
                    <a href="#" title="Vytvořit článek">
                        <img src="{{ asset('svg/pencil.svg') }}" style="padding-bottom: 5px;padding-top: 3px;width: 95%; height: 78px" class="zoom-in" alt="Menu-icon-pencil">
                    </a>
                </li>
                {# Manage user accounts #}
                <li>
                    <a href="#" title="Spravovat uživatelské účty">
                        <img src="{{ asset('svg/users.svg') }}" class="zoom-in" alt="Menu-icon-users">
                    </a>
                </li>
            {% endif %}
            {# Logout #}
            <li>
                <a href="{{ path('admin_logout') }}" title="Odhlásit se">
                    <img src="{{ asset('svg/logout_admin.svg') }}" class="zoom-in" style="height: 78.5px" alt="Menu-icon-logout">
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    {# Login remodal #}
        {% if login_form is defined %}
            {% include 'remodals/login_remodal.html.twig' %}
        {% endif %}
    {# /Login remodal /#}

    {{parent()}}
{% endblock %}

{% block javascripts %}
    {% if admin_id is defined and admin_id > 0 %} {# Remodal can be closed by clicking somewhere on the page #}
        <script src="{{ asset('js/remodal_user.js') }}"></script>
    {% else %} {# Remodal cannot be closed - only for login form (to admin section) #}
        <script>
            if (window.location.hash !== '#message') { // show login form
                $(location).attr('href', '#login')
            } else {
                setTimeout(function(){ // wait 3000ms and show login form
                    $(location).attr('href', "{{ path('admin') }}#login")
                }, 3000);
            }
        </script>
        <script src="{{ asset('js/remodal_admin.js') }}"></script>
    {% endif %}
    <script>
        {% if app.request.query.get('scrollto') is defined and app.request.query.get('scrollto') is not empty %}
        let scroll = '{{ app.request.query.get('scrollto') }}';
        $(document).ready(function(){
            $('html, body').animate({
                scrollTop: $("#" + scroll).offset().top
            }, 900);
        });
        {% endif %}
    </script>
{% endblock %}