<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Article CMS{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bulma.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/topBar.css') }}">
        {% block stylesheets %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-start">
                    <span class="navbar-item">
                        Ještě nemáte účet?<a href="{#}{ path('registration') }#}"> Zaregistrujte se</a>
                    </span>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        {{ form_start(login_form) }}
                        {{ form_widget(login_form) }}
                            <input type="submit" value="Přihlásit se">
                        {{ form_start(login_form) }}
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
