<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Article CMS{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bulma.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/topBar.css') }}">
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main_user.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/remodal_default_user.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/remodal_user.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar" aria-label="main navigation">
                <div class="navbar-start">
                    <span class="navbar-item">
                        {% block navbar_left %}{% endblock navbar_left %}
                    </span>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        {% block navbar_right %}{% endblock %}
                    </div>
                </div>
            </nav>
        {% endblock navbar %}

        {% block body %}
            {{ include('article/article.html.twig') }}
            {{ include('remodals/delete_remodal.html.twig') }}
            {{ include('remodals/edit_remodal.html.twig') }}
            {{ include('remodals/message_remodal.html.twig') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="{{ asset('js/remodal_user.js') }}"></script>
        {% endblock %}
    </body>
</html>
