{% block table %}
    <table>
        <thead>
            <tr>
                {% for a,item in db[0] %}
                    <th>{{ a }}</th>
                {% endfor %}

                {% block table_buttons_header %}
                    {# Edit button #}
                    {% if edit_button is defined and edit_button == 'true' %}
                        <th>Edit</th>
                    {% endif %}

                    {# Delete button #}
                    {% if delete_button is defined and delete_button == 'true' %}
                        <th>Delete</th>
                    {% endif %}
                {% endblock table_buttons_header %}
            </tr>
        </thead>
        {% for item in db %}
            <tr>
                {% for key, data in item %}
                    {% if table is defined and table == 'registered_users' %}
                        {% if key == 'active' %}
                            <td>
                                <div class="slideCheckbox">
                                    <form method="post" action="{{ path('activate_user') }}/{{ item['id'] }}"> {# TODO: make AJAX request #}
                                        <input type="hidden" name="usrId" value="{{ item['id'] }}" />
                                        {% if data == 1 %}
                                            <input type="checkbox" name="checkbox" id="check{{ item['id'] }}" checked onchange="this.form.submit()">
                                        {% else %}
                                            <input type="checkbox" name="checkbox" id="check{{ item['id'] }}" onchange="this.form.submit()">
                                        {% endif %}
                                        <label for="check{{ item['id'] }}"></label>
                                    </form>
                                </div>
                            </td>
                        {% else %}
                            <td>{{ data }}</td>
                        {% endif %}
                    {% else %}
                        <td>{{ data }}</td>
                    {% endif %}
                {% endfor %}

                {% block table_buttons_body %}
                    {# Edit button #}
                    {% if edit_button is defined and edit_button == 'true' %}
                        <td>
                            <a href="{{ path('edit') }}/{{ item['id'] }}">Edit</a>
                        </td>
                    {% endif %}

                    {# Delete button #}
                    {% if delete_button is defined and delete_button == 'true' %}
                        <td>
                            <a href="{{ path('delete') }}/{{ item['id'] }}">Delete</a>
                        </td>
                    {% endif %}
                {% endblock table_buttons_body %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}